@use "../layouts/mixin";

.intro {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h1 {
        padding: 0 20px;
    }
    .pulsing {
        @include mixin.pulse-animation();
        @media (max-width: 768px){
            font-size: 1rem;
        }
    }
}